$colorUno: #005A66;
$colorDos: #669BB2;
$colorTres:#B2D3D8; 
$fontTitulo: "Montserrat", sans-serif;
$fomtBajadas: "Montserrat", sans-serif;
$fontContenido: "Lato", sans-serif;
$sizeTitulos: 5rem;
$sizeContenido: 1rem;
